* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  background-color: lightblue;
  padding: 25px;
  border: 5px solid blue;
  margin-bottom: 10px;
  display: flex;
  height: 180px;
}

.one, .two, .three {
  background-color: lightcyan;
  border: 5px solid coral;
  flex: 1;
}

.two {
  display: flex;
  padding: 10px;
}

.child-2 {
  flex: 1;
  border: 5px solid red;
  background-color: pink
}

.main-container {
  background-color: lightgreen;
  border: 5px solid green;
  padding: 20px;
  margin: 15px;
}

.container-2 {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
  height: 300px;
}

.middle-container-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-right-1 {
  flex: 1;
  gap: 10px;
  background-color: lightgoldenrodyellow;
  border: 5px solid red;
}

.middle-item-left {
  background-color:lightgoldenrodyellow;
  border: 5px solid red;
  padding: 20px;
  flex: 1;
}

.container-3 {
  display: flex;
  margin-bottom: 8px;
  height: 180px;
  background-color: lightblue;
  border: 5px solid blue;
  gap: 20px;
  padding: 20px;
  justify-content: space-evenly;
}

.bottom-item-left {
  background-color:brown;
  border: 5px solid grey;
  padding: 20px;
  flex: 1;
}

.bottom-middle-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item-bottom-1 {
  flex: 1;
  gap: 10px;
  background-color: palevioletred;
  border: 5px solid yellowgreen;
}

.bottom-item-right {
  flex: 1;
  gap: 10px;
  background-color: brown;
  border: 5px solid grey;
}