.flex-container {
  background-color: yellow;
  padding: 25px;
  border: 5px solid red;
  margin: 5px;
  display: flex;
  height: 200px;
}

.one {
  background-color: orange;
  border: 5px solid blue;
  flex: 1;
}

.two {
  background-color: orange;
  border: 5px solid blue;
  flex: 1;
}

.three {
  background-color: orange;
  border: 5px solid blue;
  flex: 1;
}